/* поключения шрифтов */
@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
		url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
		url('../fonts/Gilroy-Heavy.woff') format('woff'),
		url('../fonts/Gilroy-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
		url('../fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../fonts/Gilroy-Bold.woff') format('woff'),
		url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
		url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
		url('../fonts/Gilroy-Semibold.woff') format('woff'),
		url('../fonts/Gilroy-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
		url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff'),
		url('../fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

.btn {
	display: flex;
	justify-content: center;
	width: 50%;
	max-width: 100%;
	height: auto;
	padding: clamp(3px, 2vw, 10px) 0;
	border-radius: 30px;
	cursor: pointer;
	transition: transform 0.2s ease, background-color 0.2s ease;
	animation: pulse 2s infinite ease-in-out;
}
.btn:hover {
	animation: none;
	transform: scale(0.97);
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}

body {
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 32px;
	color: #ffffff;
	width: 100%;
	height: 100%;
	position: relative;
}
.main {
	background-image: url('../img/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	min-height: 100vh;
	position: relative;
}
.main::before {
	content: '';
	position: absolute;
	top: 20%;
	left: 18%;
	width: 750px;
	height: 632px;
	max-width: 100%;
	max-height: 100%;
	background-image: url('../img/lampa.png');
	background-size: cover;

	z-index: 2;
}
.container {
	position: relative;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	z-index: 3;
}
.main__wrapper {
	padding-top: clamp(10px, 2vw, 40px);
	display: flex;
	justify-content: space-between;
}
.main__info {
	display: block;
	text-align: center;
}
.logo {
	position: relative;
	z-index: 10;
}

.main__block-info {
	margin-top: clamp(10px, 2vw, 40px);
	padding: 25px 15px;
	background-color: #171836bf;
	border: 3px solid #6568b870;
	border-radius: 32px;
	max-width: 310px;
}

.main__title {
	display: block;
	max-width: 314px;
	font-weight: 900;
	margin: 0 auto;
	font-size: clamp(18px, 3vw, 34px);
	line-height: clamp(20px, 3vw, 40px);
}
.main__max-bonus {
	display: block;
	font-weight: 900;
	color: #ffbc00;
	font-size: clamp(25px, 4vw, 33px);
	line-height: clamp(40px, 4vw, 30px);
	padding-top: 10px;
	/* margin-bottom: clamp(5px, 3vw, 10px); */
}
.main__plus-mini {
	display: none;
}
.main__min-bonus {
	display: block;
	font-weight: 700;
	font-size: clamp(20px, 3vw, 30px);
	line-height: clamp(25px, 3vw, 30px);
}
.main__mincro-bonus {
	display: block;
	font-weight: 700;
	line-height: 29px;
	font-size: clamp(20px, 3vw, 25px);
	line-height: clamp(20px, 3vw, 30px);
}
.main__count {
	display: block;
	margin-bottom: clamp(5px, 1vh, 20px);
	font-size: clamp(34px, 3vw, 60px);
	line-height: clamp(42px, 3vw, 70px);
}
.main__attempts {
	display: block;
	font-size: 18px;
	color: #8389d9;
	line-height: 22px;
	font-size: clamp(16px, 3vw, 18px);
	line-height: clamp(17px, 3vw, 22px);
}

.ruletka {
	padding: clamp(5px, 3vw, 20px);
	padding-top: clamp(20px, 3vw, 50px);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.main__ruletka {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.main-ruletka__border {
	z-index: 2;
	width: auto;
	height: auto;
	max-height: 80vh;
	max-width: 100%;
	overflow: hidden;
}
.main-ruletka__wheel {
	z-index: 1;
	position: absolute;
	width: 82%;
	max-width: 100%;
	height: auto;
}

.main-ruletka__wheel-img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
	transition: transform 5s cubic-bezier(0.5, 1, 0.5, 1);
}

.main-ruletka__arrow {
	z-index: 2;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 20%;
	max-width: 100%;
	height: auto;
}

.main-ruletka__arrow img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
}

.main-ruletka__btn {
	z-index: 3;
	position: absolute;
	bottom: -6%;
	border: 3px solid #ffc700;
	background-image: linear-gradient(to bottom, #772def, #8b4dee, #6121c9);
}

.stop-pulse {
	animation: none;
}
.main-ruletka__btn-text {
	font-weight: 900;
	font-size: clamp(24px, 3vw, 36px);
	line-height: clamp(32px, 3vw, 45px);
	background-image: linear-gradient(to bottom, #ffbd23, #f8ce6b, #daa21f);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
.main__prizes{
	padding-top: 10px;
}
.main__prize,
.prize-item {
	display: none;
	padding: 10px 10px;
	border-radius: 22px;
	background-image: linear-gradient(to bottom, #7b3be2, #7642c9, #380a83);
	max-width: 100%;
	color: #ffbc00;
	font-weight: 900;
	margin-bottom: clamp(10px, 2vw, 20px);
	flex: 1;
}
.prize__title,
.prize-two__subtitle,
.prize-three__title,
.popup-prize__title {
	display: block;
	font-size: clamp(17px, 3vw, 24px);
	line-height: clamp(23px, 3vw, 30px);
}
.prize__subtitle,
.prize-two__title,
.prize-three__subtitle,
.popup-prize__subtitle {
	display: block;
	font-size: clamp(34px, 3vw, 55px);
	line-height: clamp(43px, 3vw, 70px);
}

.popup {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	padding: 0 15px;
	background-color: rgba(27, 28, 45, 0.97);
	z-index: 3;
	top: 0;
	left: 0;
}

.popup__content {
	position: relative;
	width: 442px;
	max-width: 100%;
	background-color: #171836;
	padding: clamp(20px, 1vw, 30px) clamp(15px, 3vw, 40px);
	border-radius: 32px;
	border: 1px solid #6265aa;
	text-align: center;
	z-index: 5;
}
.popup__prize {
	min-width: 243px;
}
.popup__image {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 55%;
	z-index: 5;
	max-width: 100%;
	max-height: 100%;
}
.popup__title {
	display: block;
	font-weight: 700;
	font-size: clamp(32px, 3vw, 42px);
	line-height: clamp(40px, 3vw, 50px);
	color: #ffbc00;
	align-items: center;
	margin-bottom: clamp(5px, 3vw, 10px);
}
.popup__subtitle {
	display: block;
	font-weight: 500;
	font-size: clamp(16px, 3vw, 20px);
	line-height: clamp(20px, 3vw, 24px);
	color: #ffffff;
	margin-bottom: clamp(10px, 3vw, 20px);
}
.popup-prizes {
	margin-bottom: 10px;
}
.popup__prize {
	display: inline-block;
	max-width: 60%;
	margin-bottom: 20px;
}
.popup__btn {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
	min-width: 243px;
	background-color: #ffc700;
}
.popup__btn-text {
	font-weight: 700;
	font-size: clamp(20px, 3vw, 26px);
	line-height: clamp(24px, 3vw, 24px);
	color: #1b1c2d;
}
.popup__reg {
	display: block;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	font-size: clamp(14px, 3vw, 18px);
	line-height: clamp(17px, 3vw, 22px);
	color: #ffffff;
}

.popup__reg a {
	color: #ffc700;
	padding: 10px;
}
@media (max-width: 1400px) {
	.main::before {
		top: 20%;
		left: 10%;
		width: 550px;
		height: 500px;
	}
}

@media (max-width: 1050px) {
	.main {
		padding-bottom: clamp(20px, 2vw, 50px);
	}
	.main__wrapper {
		align-items: center;
		flex-direction: column;
	}
	.main::before {
		top: 10%;
		left: 50%; /* Центрирование по горизонтали */
		transform: translateX(-50%);
		right: 0%;
	}
	
	.main__block-info {
		max-width: 100%;
	}
	.main__title {
		max-width: 300px;
	}
	.popup__image {
		left: 60%;
	}
	.logo {
		z-index: 2;
	}
}

@media (max-width: 850px) {
	.main__ruletka {
		max-width: 85%;
		
	}
	.main__wrapper {
		height: 95dvh;
	}
	/* .main__text {
		display: flex;
		justify-content: space-between;
		align-items: center;
	} */
	.main__block-title {
		flex: 0 1 33.333%;
	}
	.main::before {
		top: 5%;
		width: 500px;
		height: 420px;
	}
	.popup__subtitle {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.popup__image {
		top: 34%;
		max-width: 35%;
		max-height: 34%;
	}
}
@media (max-width: 500px) {
	.main__plus {
		display: none;
	}
	.main__plus-mini {
		display: block;
		margin: 0 auto;
	}
	.logo img {
		max-width: 200px;
	}
	.ruletka {
		/* padding: 0 0 30px 0; */
		padding: 0 0 5% 0;
	}
	.main__ruletka {
		max-width: 100%;
	}
	.main__block-info {
		padding: 15px 15px 10px 15px;
	}
	.popup__btn {
		margin-top: 10px;
		min-width: 227px;
	}
	.popup__image {
		display: none;
		/* transform: scaleX(-1);
		top: -10%;
		left: -20%;
		max-width: 130%;
		max-height: 130%;
		z-index: 4; */
	}
	.main::before {
		top: 2%;
		height: 370px;
	}
	html,
	body {
		overflow: hidden;
		max-height: 100%;
	}
}
@media (max-width: 410px) {
	.logo img {
		max-width: 140px;
	}
	.prize__title,
	.prize-two__subtitle,
	.prize-three__title {
		display: block;
		font-size: clamp(13px, 3vw, 24px);
		line-height: clamp(20px, 3vw, 30px);
	}
	.prize__subtitle,
	.prize-two__title,
	.prize-three__subtitle {
		display: block;
		font-size: clamp(30px, 3vw, 66px);
		line-height: clamp(40px, 3vw, 82px);
	}
	.main::before {
		top: 3%;
		height: 350px;
	}
}

.first-on,
.second-on,
.first-off,
.second-off {
	transition: fill 0.3s ease-in-out;
}
.second-off,
.second-on {
	display: none;
}
